#navBarWrapper{
    background-color:black;
    height:10%;
    align-items:end;
    z-index:2;
    position:relative;
}
#leftBtn{
    color:white;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-color:green;
    height:40px;
    margin-top: 10px;
}
#leftBtn:hover{
    border-color:green;
}
#rightBtn{
    color:white;
    font-size: 0.5rem;
    padding: 0.5rem;
    float:right;
    position:relative;
    border-color:green;
    height:40px;
    margin-top: 10px;
    margin-left:30%;
}
#rightBtn:hover{
    border-color:green;
}
#loginBtn{
    color:white;
    font-size: 0.5rem;
    height:40px;
    background-color:grey;
    margin-top:0.5rem;
    margin-left:1rem;
}
#favoriteBtn{
    color:white;
    margin-top:1rem;
    margin-left:1rem;
}
#favoriteBtn:hover{
    color:green;
}