#ads{
    padding:50px;
    padding-bottom: 0px ;
    background-color: rgb(252, 240, 255);
    margin-top:50px;
    display:flex;
    justify-content: center;
}
#ads h3{
    width:400px;
}
#phone{
   

}
img{
    margin:10px;
}